.a_tag{
  gap: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  margin-top: 30px;

}

a {
  text-decoration: none;
  color: blue;
  cursor: pointer;
  transition: 500ms;
  font-weight: 600;

}
a:hover {
  transform: scale(1.1);
  transition: 500ms;
}

h1 {
  text-align: center;
  color: black;
}
.wrapper {
  width: 1200px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 30px auto;
  padding: 20px;
}

.card {
  box-shadow: 7px 7px 14px rgb(200, 154, 154);
  padding: 10px;
  border-radius: 5px;
  background-color: aqua;
}

.form {
  display: none;
}

.show {
  display: block;
}
